.board {
  margin-top: 90px;
  padding: 20px;
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  // grid-gap: 20px;
  // z-index: 21312312;

  .board-column {
    display: flex;
    flex-direction: column;

    max-height: calc(100vh - 130px);
    align-items: center;
    height: auto;

    background: #f4f4f4;
    width: 300px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

    .board-column-header {
      border-radius: 5px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      position: relative;
      color: #333333;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 5px;
      }
    }

    .board-column-content {
      overflow-y: auto;
      width: 100%;
    }

    .board-column-footer {
      padding: 10px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .add-card {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      background-color: transparent;
      border: 1px solid gray;
      border-radius: 3px;
      width: 100%;
      cursor: pointer;
      transition: all 0.1s linear;

      &:hover {
        background: rgba(0, 0, 0, 0.2);
      }
    }
  }
}
