header {
  width: 100vw;
  @include flex-center(center);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;
  padding: 0 20px;
  color: #f8f8f8;
  z-index: 10;
  background-color: rgba($color: #050505, $alpha: 0.7);

  .nav-center {
    @include flex-center(space-between);
    width: 100%;
    max-width: $max-width;
    padding: 10px;
    position: relative;
  }

  .filters-wrapper {
    @include flex-center(space-between);
    gap: 20px;

    .toggle-filters {
      background: #f8f8f8;
      padding: 5px 16px;
      border-radius: 3px;
      font-size: 1em;
      font-weight: 500;
      cursor: pointer;
      transition: background-color 0.3s;
      color: #333;
      border: none;
      outline: none;

      &:hover {
        background: #e8e8e8;
        cursor: pointer;
      }
    }

    .btn {
      background: #f8f8f8;
      padding: 8px 16px;
      border-radius: 3px;
      font-size: 1em;
      font-weight: 500;
      cursor: pointer;
      transition: background-color 0.3s;
      color: #333;
      border: none;
      outline: none;

      &:hover {
        background: #e8e8e8;
        cursor: pointer;
      }
    }
  }
}
