@import "../styles/partials/mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "../styles/partials/colors.scss";
@import "../styles/partials/task-list.scss";
@import "../styles/partials/header.scss";
@import "../styles/partials/filters.scss";
@import "../styles/partials/loader.scss";

/* base styles */
* {
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  margin: 0;
  font-size: 1.1em;
  background: $bg-color;
}
ul,
li,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}

.app {
  display: flex;

  .container {
    flex-grow: 1;
    padding: 0 60px;
  }
}
